#outerMostDiv {
    height: 600px;
    width: 1015px;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    /* padding: 11px 19px 30px 37px; */
} 


#innerMostDiv {
    position: absolute;
    width: 1000px;
    left: 0px;
    /* padding: 0 25px 13px 11px; */
    height: inherit;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




/* Scrollbar */
/* thumb */
.scroller {
    background: #cccccc;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 190px;
    top: 0; 
    -webkit-transition: top 0.08s;
    -moz-transition: top 0.08s;
    -ms-transition: top 0.08s;
    -o-transition: top 0.08s;
    transition: top 0.08s;
}
 

/* should not need to touch */
.scrollerbg {
    width: 100%;
    height: 100%;
    background: transparent;
}


/* track */
.isiLineWithArrows {
    background-color: blue;
    border-radius: 0;
    top: 10%;
    right: 1px;
    height: 100%;
    width: 10px;
    cursor: pointer;
}
/* track */
.isiLineNoArrows {
    background-color: #efefef;
    top: 0; 
    right: 0px; 
    height: 598px;
    width: 10px;
    cursor: pointer;
    border-radius: 50px;
}

/* track container */
#isi-controls {
    right: 10px;
    top: 0px;
    height: 598px;
    width: 0px;
    position: absolute;
}

/* leave alone */
::-webkit-scrollbar {
    -webkit-appearance: none;
}